body{
    background-color: #773d4e;
}

h1{
    color: #a5bc96;
    text-align: center;
}

.principal{
    border: solid #a56d7c 2px;
    text-align: center;
    height: 500px;
    width: 400px;
    border-radius: 10%;
    padding: 10px;
}

button{
    background-color: #d1dec1;
    border: solid #6e253e 2px;
    border-radius: 20%;
    color: #6e253e;
}